/* background-image: url('https://www.transparenttextures.com/patterns/hexellence.png'); */


* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #d6bca4;
    height: 100vh;
}

h1 {
    text-align: center;
    color: #6b4f4f;
    margin-top: 20px;
}

p#description {
    text-align: center;
    color: #6b4f4f;
    margin-bottom: 20px;
    font-size: 14px;
}

#survey-form {
    background-color: #d2aa7d;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    align-self: center;
    margin: auto;
}

label {
    font-weight: bold;
    color: #5a3e3e;
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

fieldset {
    border: none;
    margin: 10px 0;
    padding: 0;
}

legend {
    font-weight: bold;
    color: #5a3e3e;
    margin-bottom: 5px;
}

label input[type="radio"],
label input[type="checkbox"] {
    margin-right: 10px;
}

button#submit {
    background-color: #6b4f4f;
    color: #fff;
    padding: 10px;
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button#submit:hover {
    background-color: #593f3f;
}
